[Match]
MACAddress=f8-f2-1e-1e-3c-40 00-1b-21-bc-4c-16 00-1b-21-bc-67-c6

[Link]
ARP=no
MTUBytes=9000

[Network]
LinkLocalAddressing=no
DHCP=no
VLAN=en-lan
VLAN=en-store
VLAN=en-sync
VLAN=en-wan