[Unit]
Description=CoreOS Matchbox
After=network.target

[Service]
ExecStart=/usr/bin/matchbox \
  -address=192.168.224.1:80 \
  -rpc-address=0.0.0.0:58081 \
  -ca-file=/etc/matchbox/certs/matchbox-ca.pem \
  -cert-file=/etc/matchbox/certs/matchbox.pem \
  -key-file=/etc/matchbox/certs/matchbox-key.pem \
  -data-path=/etc/matchbox/data \
  -assets-path=/etc/matchbox/assets
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target