[Match]
Name=en-store
MACAddress=f8-f2-1e-1e-3c-40

[Link]
ARP=yes
MTUBytes=9000

[Network]
LinkLocalAddressing=no
DHCP=yes

[Address]
Address=192.168.127.253/23